sudo: required
language: generic
compiler:
  - gcc
notifications:
  email:
    on_success: change
    on_failure: always
    recipients:
      - ros-contributions@amazon.com
      # - travis-build@platform-notifications.robomaker.aws.a2z.com # Add once the build passes.
env:
  global:
    - GITHUB_ACCOUNT=aws-robotics
  matrix:
    - ROS_DISTRO=dashing ROS_VERSION=2
install:
  - git clone https://github.com/aws-robotics/travis-scripts.git .ros_ci
script:
  - .ros_ci/ce_build.sh
